<div class="wrapper border-bottom white-bg page-heading" id="top">
    <div class="clearfix">
        <div class="pull-left">
            <h2>{{titulo}}</h2>
            <ol class="breadcrumb" *ngIf="breadcrumbs">
                <li [class.active]="(i+1) == breadcrumbs.length" *ngFor="let breadcrumbItem of breadcrumbs; index as i">
                    <a [queryParamsHandling]="'merge'" [routerLink]="breadcrumbItem.routerLink" *ngIf="(i+1) != breadcrumbs.length">{{ breadcrumbItem.titulo }}</a>
                    <strong *ngIf="(i+1) == breadcrumbs.length">{{ breadcrumbItem.titulo }}</strong>
                </li>
            </ol>
        </div>
        <div [hidden]="esconderBotao" class="pull-right">
            <br>
            <button [class]="btnClass" (click)="onClick()"><i class="{{icone}}"></i> {{nomeBotao}}</button>
        </div>
        <ng-content></ng-content>
    </div>
</div>