<div class="modal-content">
  <div class="modal-body row">
    <button type="button" class="bootbox-close-button close" aria-label="Close" style="margin-top: -10px;" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="bootbox-body">
      <img src="assets/images/invalid_date.png" style="width: 24px;margin-right: 10px;"> Data Inválida
    </div>
  </div>
    <div class="modal-footer">
      <div class="col-sm-12 footer-buttons">
          <button class="btn btn-primary" title="Ok" (click)="confirmar()">OK</button>
      </div>
    </div>
</div>