<contador-online-title titulo="Gabarito" [esconderBotao]="true"></contador-online-title>
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Filtro</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-4">
            <label for="ano">Ano</label>
            <select #selectElem class="form-control" [(ngModel)]="anoSelecionado" (change)="mudarAno(selectElem.value)">
              <option *ngFor="let ano of anos" [value]="ano" [selected]="ano=='2019'">{{ano}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="ano ">Semestre</label>
            <select #selectSem class="form-control" (change)="mudarSemestre(selectSem.value)">
              <option id="ano " *ngFor="let semestre of semestres " [value]="semestre">{{semestre}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="ano ">Tipo Prova</label>
            <select #selectProv class="form-control" (change)="mudarProva(selectProv.value)">
              <option *ngFor="let prova of tipoProvas " [value]="prova">{{prova}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success pull-right" type="button" (click)="downloadProva()">
              <i class="fa fa-upload"></i>&nbsp;&nbsp;
              <span class="bold">Download Prova</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-lg-12 col-md-12">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
  </div>
</div>