/* Definições adicionais para o CSS da aplicação  */

.action {
	float: left;
	margin-right: 10px;
}

.pagination {
	margin: 0;
	padding-left:0;
}


/* Alterações do comportamento padrão do template */

.btn-success {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #FFFFFF;
}

.btn-primary {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary:hover {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFFFFF;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1f90d8;
  border-color: #1f90d8;
}

.nav-header {
  padding: 0;
  height: 65px;
  border-bottom:5px solid #f60;
}

.nav > li.active {
  border-left: 4px solid #f60;
}

.navbar-default .special_link a {
  background: #0066b3;
}


.navbar-default .special_link a:hover {
  background: #1751B5 !important;
}

.navbar-default .landing_link a {
  background:#0066b3;
}

.navbar-default .landing_link a:hover {
  background: #1751B5 !important;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom:5px solid #f60;
}

body.mini-navbar .nav-header {
  background-color: #00ad8d;
}

.ultra-skin:hover {
  background-image: none;
}

.md-skin .nav-header {
  background-color: #1ab394
}

.md-skin .nav > li > a {
  color: #1ab394;
}

.md-skin .nav > li.active > a {
  color: #19aa8d;
}

.md-skin .navbar-default .nav > li > a:hover,
.md-skin .navbar-default .nav > li > a:focus {
  color: #1ab394;
}

.md-skin .navbar-fixed-top,
.md-skin .navbar-static-top {
  background-color: #1ab394 !important;
  box-shadow: none;
}

 .check_inline {
	display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    margin-top: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e8e8e8;
}

.obrigacaoVencida {
	background: none repeat scroll 0 0 #A93F41;
	color: #FFFFFF;
	padding: 3px;
	margin: 0 5px 5px 0;
}

.obrigacaoNaoProtocolada {
	background: none repeat scroll 0 0 #4B6B9C;
	color: #FFFFFF;
	padding: 3px;
	margin: 0 5px 5px 0;
}

.obrigacaoProtocolada {
	background: none repeat scroll 0 0 #4C9D58;
	color: #FFFFFF;
	padding: 3px;
	margin: 0 5px 5px 0;
}

.quebra {
	font-weight: bold;
	padding: 7px;
}

.botao-titulo {
	margin-top: 20px;
	margin-left: 3px;
}

.theme-config {    
    top: 140px;
}

.menutopocliente {
	margin-top:15px	
}

.menutopocliente a{
	color:#FFF;
	font-size:18px;
	padding:19px	
}

.md-skin .nav-header {
	background-color: #0066b3;
	background-image: none;
}

.brand {
	padding: 35px;
	margin-top: 10px;
}

.well {
	min-height: 0;
    padding: 0;
    margin-bottom: 0;
    background-color: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fieldset {	
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
}

.btn-xs {
	padding: 2px 10px;
}

.btn-danger { 
	border-color: #761c19;
}

/* Forçar o calendario não habilitar o scroll */
.fc-scroller {
   overflow-y: hidden !important;
}

.table-responsive .col-md-6{
	padding-right:0
}

.table-responsive .col-md-9{
	padding-right:0
}

.table-responsive .col-lg-6{
	padding-right:0
}

.table-responsive .col-lg-9{
	padding-right:0
}

.alerta-sincronizacao{
	float: right;
	cursor: default;
	margin-top: 30px;
	font-size:14px;
}


.table-responsive{
	overflow: hidden;
}

div.upload {
    width: 140px;
    height: 34px;
    cursor: pointer;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

div.uploaded{
	width:140px;
	height:34px;
	cursor:pointer;
	overflow:hidden;float:left;margin-right:15px
}
	
input[type="file"]{
	width:100%;
	height:100%;
	z-index:100;
	position:relative;
	opacity:0;
	filter:alpha(opacity = 0);
	cursor:pointer
}

.d-none{
	display: none!important
}
.d-inline{
	display: inline!important
}
.d-inline-block{
	display: inline-block!important
}
.d-block{
	display: block!important
}
.d-table{
	display: table!important
}
.d-table-cell{
	display: table-cell!important
}
.d-flex{
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important
}
.d-inline-flex{
	display: -webkit-inline-box!important;
	display: -webkit-inline-flex!important;
	display: -ms-inline-flexbox!important;
	display: inline-flex!important
}
@media(min-width: 576px){
	.d-sm-none{
		display: none!important
	}
	.d-sm-inline{
		display: inline!important
	}
	.d-sm-inline-block{
		display: inline-block!important
	}
	.d-sm-block{
		display: block!important
	}
	.d-sm-table{
		display: table!important
	}
	.d-sm-table-cell{
		display: table-cell!important
	}
	.d-sm-flex{
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important
	}
	.d-sm-inline-flex{
		display: -webkit-inline-box!important;
		display: -webkit-inline-flex!important;
		display: -ms-inline-flexbox!important;
		display: inline-flex!important
	}
}
@media(min-width: 768px){
	.d-md-none{
		display: none!important
	}.d-md-inline{
		display: inline!important
	}.d-md-inline-block{
		display: inline-block!important
	}.d-md-block{
		display: block!important
	}.d-md-table{
		display: table!important
	}.d-md-table-cell{
		display: table-cell!important
	}.d-md-flex{
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important
	}.d-md-inline-flex{
		display: -webkit-inline-box!important;
		display: -webkit-inline-flex!important;
		display: -ms-inline-flexbox!important;
		display: inline-flex!important
	}
}
@media(min-width: 992px){
	.d-lg-none{
		display: none!important
	}.d-lg-inline{
		display: inline!important
	}.d-lg-inline-block{
		display: inline-block!important
	}.d-lg-block{
		display: block!important
	}.d-lg-table{
		display: table!important
	}.d-lg-table-cell{
		display: table-cell!important
	}.d-lg-flex{
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important
	}.d-lg-inline-flex{
		display: -webkit-inline-box!important;
		display: -webkit-inline-flex!important;
		display: -ms-inline-flexbox!important;
		display: inline-flex!important
	}
}
@media(min-width: 1200px){
	.d-xl-none{
		display: none!important
	}.d-xl-inline{
		display: inline!important
	}.d-xl-inline-block{
		display: inline-block!important
	}.d-xl-block{
		display: block!important
	}.d-xl-table{
		display: table!important
	}.d-xl-table-cell{
		display: table-cell!important
	}.d-xl-flex{
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important
	}.d-xl-inline-flex{
		display: -webkit-inline-box!important;
		display: -webkit-inline-flex!important;
		display: -ms-inline-flexbox!important;
		display: inline-flex!important
	}
}

.fc th,
.fc td {
	cursor: pointer;
}

.blockUI-div {
	background: white;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	color: #616161;
	font-size: 20px;
}