<div class="alertas" [class]="configValue.alertClass">
    <ng-template [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{ 'alertSource': configValue }"></ng-template>
</div>

<ng-template #individualAlertPopTemplate let-alertSource="alertSource">
    <div *ngFor="let alert of alertSource.mensagens" class="alert alert-dismissable"
        [class.alert-success]="isSuccess(alert.type)"
        [class.alert-danger]="isError(alert.type)"
        [class.alert-info]="isInfo(alert.type)"
        [class.alert-warning]="isWarning(alert.type)">
    <ng-template [ngIf]="alert.template" [ngIfElse]="elseBlock">
        <ng-template [ngTemplateOutlet]="alert.template" [ngTemplateOutletContext]="{ 'alert': alert }"></ng-template>
        </ng-template>
        <ng-template #elseBlock>
            <ng-template [ngTemplateOutlet]="htmlAlert" [ngTemplateOutletContext]="{ 'alert': alert }"></ng-template>
        </ng-template>
    </div>
</ng-template>
<ng-template #listAlertPopTemplate let-alertSource="alertSource">
    <ng-template [ngTemplateOutlet]="listAlertPopTemplateMensagem" *ngFor="let type of types()"
        [ngTemplateOutletContext]="{ 'mensagens': filterType(alertSource.mensagens, type), type: type }"></ng-template>
</ng-template>
<ng-template #listAlertPopTemplateMensagem let-mensagens="mensagens" let-type="type">
    <div *ngIf="!!mensagens.length" class="alert alert-dismissable"
        [class.alert-success]="isSuccess(type)"
        [class.alert-danger]="isError(type)"
        [class.alert-info]="isInfo(type)"
        [class.alert-warning]="isWarning(type)">
        <ul *ngFor="let alert of mensagens">
            <ng-template [ngIf]="alert.template" [ngIfElse]="listElseBlock">
                <ng-template [ngTemplateOutlet]="alert.template" [ngTemplateOutletContext]="{ 'alert': alert }"></ng-template>
            </ng-template>
            <ng-template #listElseBlock>
                <ng-template [ngTemplateOutlet]="listHtmlAlert" [ngTemplateOutletContext]="{ 'alert': alert }"></ng-template>
            </ng-template>
        </ul>
    </div>
</ng-template>
<ng-template #htmlAlert let-alert="alert">
    <a class="close" (click)="removeAlert(alert)">&times;</a>
    <ng-template [ngIf]="alert.html" [ngIfElse]="alertElseBlock">
        <span [innerHTML]="alert.message"></span>
    </ng-template>
    <ng-template #alertElseBlock>
        <ng-template [ngTemplateOutlet]="defaultAlert" [ngTemplateOutletContext]="{ 'alert': alert }"></ng-template>
    </ng-template>
</ng-template>
<ng-template #defaultAlert let-alert="alert">
    {{alert.message}}
</ng-template>
<ng-template #listHtmlAlert let-alert="alert">
    <ng-template [ngIf]="alert.html" [ngIfElse]="listAlertElseBlock">
        <li [innerHTML]="alert.html"></li>
    </ng-template>
    <ng-template #listAlertElseBlock>
        <ng-template [ngTemplateOutlet]="defaultListAlert" [ngTemplateOutletContext]="{ 'alert': alert }"></ng-template>
    </ng-template>
</ng-template>
<ng-template #defaultListAlert let-alert="alert">
    <li>{{alert.message}}</li>
</ng-template>
    