<div class="col-lg-1" *ngIf="sortDirection === 'asc'">
    <i class="fa fa-sort-amount-asc"></i>
</div>
<div class="col-lg-1" *ngIf="sortDirection === 'desc'">
    <i class="fa fa-sort-amount-desc"></i>
</div>
<ng-content></ng-content>