<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img src="assets/images/login/connect.png" alt="ConnectCont" style="width: 100%;"/>
        </div>
        <app-alert></app-alert>
        <h2><span style="color: #F00; text-shadow: 0 1px #fff">Problemas</span> com Acesso</h2>
        <div class="ibox float-e-margins">
            <form #formulario="ngForm" class="m-t text-left clearfix" role="form" action="#">
                <div class="ibox-content pb0">
                    <div class="ms10">
                        <div class="row tabs-container">
                            <ul class="nav nav-tabs">
                                <li [ngClass]="{'active': acao == staticAbas.ABA_RECUPERAR_SENHA}">
                                    <a data-toggle="tab" href="#tab-1" (click)="acao = staticAbas.ABA_RECUPERAR_SENHA">Recuperar Senha</a></li>
                                <li [ngClass]="{'active': acao == staticAbas.ABA_RECUPERAR_CONTA}">
                                    <a data-toggle="tab" href="#tab-2" (click)="acao = staticAbas.ABA_RECUPERAR_CONTA">Recuperar Conta</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" [ngClass]="{'tab-pane': true, 'active': acao == staticAbas.ABA_RECUPERAR_SENHA}">
                                    <div class="panel-body">
                                        <div class="ms10">
                                            <div class="row">
                                                Para redefinir sua senha, digite o usuário que você utiliza para fazer o login.
                                            </div>
                                            <div class="row mt10">
                                                <div class="form-group has-feedback"
                                                        [class.has-error]="     validationService.hasError    (validations, {components:'username'})"
                                                        >
                                                    <label>Conta <span style="color: #0066B3; text-shadow: 0 1px #fff">Connect</span><span style="color: #F36F21; text-shadow: 0 1px #fff">Cont</span></label>
                                                    <input type="email" class="form-control" placeholder="usuario@apelido"
                                                            required="" [(ngModel)]="loginData.username" name="username"
                                                            maxlength="91" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" [ngClass]="{'tab-pane': true, 'active': acao == staticAbas.ABA_RECUPERAR_CONTA}">
                                    <div class="panel-body">
                                        <div class="ms10">
                                            <div class="row">
                                                *Para recuperar seu login, preencha os dados abaixo: Informações do Colaborador:
                                            </div>
                                            <div class="row mt10">
                                                <div class="form-group has-feedback"
                                                        [class.has-error]="     validationService.hasError    (validations, {components:'codigo'})"
                                                        >
                                                    <label>
                                                        Código/Apelido de acesso *
                                                    </label>
                                                    <input type="text" class="form-control" placeholder="Código/Apelido de acesso" required=""
                                                            [(ngModel)]="loginData.codigo" maxlength="30" name="codigo" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group has-feedback"
                                                        [class.has-error]="     validationService.hasError    (validations, {components:'cpf'})"
                                                        >
                                                    <label>
                                                        CPF *
                                                    </label>
                                                    <input type="text" class="form-control" placeholder="CPF" required=""
                                                            (keyup)="cpfChange()" (keydown)="cpfChange()" (change)="cpfChange()"
                                                            [(ngModel)]="cpf" name="cpf" maxlength="14" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="form-group">
                                <input type="checkbox" class="js-switch_4"
                                        [checked]="loginData.hasCopiaResponsavel"
                                        (change)="loginData.hasCopiaResponsavel = !loginData.hasCopiaResponsavel" />
                                Com cópia para o Responsável pela empresa
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer footer-buttons">
                    <button type="submit" class="btn btn-primary  m-b" (click)="recuperar()"    >
                        <i class="fa fa-check"></i> Enviar  </button>
                    <button type="submit" class="btn btn-danger   m-b" (click)="voltar()"       >
                        <i class="fa fa-times"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div bsModal #modalSenha="bs-modal" class="modal inmodal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="modalSenha.hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Recuperação dos dados realizada com sucesso!</h4>
            </div>
            <div class="modal-body">
                <p>Uma nova senha foi gerada e em breve você irá recebê-la no email: <span [innerHtml]="emails"></span>.</p>
                <p><strong><span class="loginscreenRed">Não esqueça de alterá-la no seu próximo login</span></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="voltar()">Ir para a Página inicial</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #modalConta="bs-modal" class="modal inmodal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="modalConta.hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Recuperação dos dados realizada com sucesso!</h4>
            </div>
            <div class="modal-body">
                <p>O Login foi enviado para o email: <span [innerHtml]="emails"></span>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="voltar()">Ir para Página inicial</button>
            </div>
        </div>
    </div>
</div>
