.clickable {
    cursor: pointer;
}

.selected {
    background-color: lightcyan;
}

.linha-impar {
    background-color: #e8e8e8;
}

.right-float {
    float: right;
}

.padding-left-10 {
    padding-left: 10px;
}

.btn-xs-custom {
    padding: 0px 10px;
    font-size: 12px;
    line-height: 1.5;
    width: 40px;
    margin-left: 5px;
}