<ng-container *ngIf="configDataTable?.showEmpty || configDataTable?.data !== undefined && configDataTable?.data.length !== 0; else emptyFrame">
    <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="configDataTable?.frame else lista">
        <div class="ibox float-e-margins">
            <ng-container *ngIf="dt_iboxtitle else dt_iboxtitle_default">
                <ng-template [ngTemplateOutlet]="dt_iboxtitle"></ng-template>
            </ng-container>
            <ng-template #dt_iboxtitle_default>
                <div class="ibox-title">
                    <h5>{{configDataTable.title}}</h5>
                    <ng-container *ngIf="dt_iboxtools else dt_iboxtools_default">
                        <ng-template [ngTemplateOutlet]="dt_iboxtools" [ngTemplateOutletContext]="iboxtoolsTemplateContext(collapseOption, configDataTable)"></ng-template>
                    </ng-container>
                    <ng-template #dt_iboxtools_default>
                        <app-iboxtools [config]="iboxToolsConfig" *ngIf="collapseOption || iboxToolsConfig.dropdownMenu.length > 0">
                        </app-iboxtools>
                    </ng-template>
                </div>
            </ng-template>

            <div class="ibox-content table-responsive animated fadeIn">
                <div *ngIf="configDataTable?.useSearchAttribute" class="input-group col-sm-12 col-md-12 col-lg-12">
                    <input id="searchText" [(ngModel)]="configDataTable?.buttonSearch.searchValue" name="searchText" type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" [class]="configDataTable?.buttonSearch.htmlClasses" [title]="configDataTable?.buttonSearch.title" (click)="handleButtonSearch(configDataTable?.buttonSearch.searchValue); $event.stopPropagation()">
                            <i [class]="configDataTable?.buttonSearch.faClass"></i>{{configDataTable?.buttonSearch.descricao}}</button>
                    </span>
                </div>
                <ng-container *ngIf="dt_iboxcontent_pre else dt_iboxcontent_pre_default">
                    <ng-template [ngTemplateOutlet]="dt_iboxcontent_pre"></ng-template>
                </ng-container>
                <ng-template #dt_iboxcontent_pre_default>
                    <ng-content></ng-content>
                </ng-template>
                <ng-template [ngTemplateOutlet]="lista"></ng-template>
                <ng-container *ngIf="dt_iboxcontent_pos">
                    <ng-template [ngTemplateOutlet]="dt_iboxcontent_pos"></ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #lista>
    <table id="minhaTabela" class="table table-stripped table-hover">
        <thead>
            <tr>
                <td *ngIf="configDataTable?.useSelectAttribute" class="text-center">
                    <div class="row">
                        <div class="abc-checkbox abc-checkbox-success">
                            <input [id]="'selecionaTudo' + paginationId" type="checkbox" (click)="selectAll();" [checked]="todosSelecionados">
                            <label [for]="'selecionaTudo' + paginationId"></label>
                        </div>
                    </div>
                </td>
                <th align="center" [ngClass]="col?.customConfig?.headerClass || { }" *ngFor="let col of configDataTable?.colunas">
                    <div class="row" style="margin-left: 0px">
                        {{col.apelido}}
                    </div>
                </th>
                <th *ngIf="configDataTable.selecionados.length === 0 && configDataTable.inLineButtons" [ngClass]="configDataTable.inLineButtons.headerClass">
                    {{configDataTable.inLineButtons.titulo}}
                </th>
            </tr>
        </thead>
        <tbody class="text-left">
            <ng-container *ngFor="let dat of configDataTable?.data | paginate: config; let isOdd=odd; let index =index;">
                <tr (click)="collapse(dat);" [class.linha-impar]="comListra(isOdd)" [class.clickable]="configDataTable.useCollapseAttribute">
                    <td *ngIf="configDataTable.useSelectAttribute" class="text-center">
                        <div class="row">
                            <div class="abc-checkbox abc-checkbox-success">
                                <input [id]="paginationId + '' + index" type="checkbox" [checked]="dat.selected" (click)="selectItem(dat); $event.stopPropagation();">
                                <label [for]="paginationId + '' + index" (click)="$event.stopPropagation()"></label>
                            </div>
                        </div>
                    </td>
                    <td *ngFor="let col of configDataTable.colunas; let index = index;" [ngClass]="col?.customConfig?.tdClass">
                        <div>
                            <ng-container *ngIf="index === 0">
                                <a style="color:gray" *ngIf="dat.collapse">
                                    <i class="fa {{ itemCollapsed(dat)}}" style="font-size: 15px"></i>
                                </a>
                            </ng-container>
                            <ng-template [ngTemplateOutlet]="colTemplate(dat, col)" [ngTemplateOutletContext]="colTemplateContext(dat, col)"></ng-template>
                        </div>
                    </td>
                    <td id="colunaInLineButtons" [class]="configDataTable.inLineButtons.tdClass" *ngIf="(configDataTable.selecionados.length === 0 && configDataTable.inLineButtons) || configDataTable?.showInLineButtonsAlways">
                        <ng-container *ngFor="let botao of configDataTable.inLineButtons.botoes">
                            <button [ngStyle]="botao.style" *ngIf="dat.inLineButtonEnableConfig == null || dat.inLineButtonEnableConfig?.get(botao.id)" [disabled]="dat.inLineButtonConfig?.get(botao.id)" [class]="botao.htmlClasses" [title]="botao.title" (click)="!dat.inLineButtonConfig?.get(botao.id) && handleButton(botao.id, dat); $event.stopPropagation()">
                                    <i [class]="botao.faClass" (click)="dat.inLineButtonConfig?.get(botao.id) ? $event.stopPropagation() : null"></i>{{botao.descricao}}</button>
                        </ng-container>
                    </td>
                </tr>
                <ng-container *ngFor="let prop of getAllPropertiesFromData()">
                    <tr *ngIf="dat.collapsed">
                        <td *ngIf="configDataTable.useSelectAttribute"></td>
                        <td class="col-md-1 col-sm-1 col-lg-1">
                            <b>{{prop}}</b>:{{dat[prop]}}
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
        <tfoot>
            <tr>
                <td [colSpan]="configDataTable.colunas.length + 2">
                    <div *ngIf="isAlgumElementoSelecionado() || configDataTable?.showGroupButtons">
                        <div class="pull-right">
                            <button style="margin-left: 2px;" *ngFor="let botao of configDataTable.groupButtons" [class]="botao.htmlClasses" (click)="handleButtonGroup(botao.id)" [title]="botao.title">
                                <i [class]="botao.faClass"></i>{{botao.descricao}}</button>
                        </div>
                    </div>

                    <div style="margin-top: 5px" [class]="configDataTable?.configuracaoPaginacao.alignment">
                        <div *ngIf="configDataTable?.configuracaoPaginacao.useCustomPagination">
                            <pagination-controls (pageChange)="pageChange($event)" [id]="paginationId" maxSize="7" autoHide="config.autoHide" directionLinks="true" previousLabel="Anterior" nextLabel="Próxima" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="Página"
                                screenReaderCurrentLabel="Você está na página">
                            </pagination-controls>
                        </div>
                        <div *ngIf="!configDataTable?.configuracaoPaginacao.useCustomPagination">
                            <pagination-template #p="paginationApi" [id]="paginationId" (pageChange)="pageChange($event)">
                                <ul class="pagination" style="margin-top: 0px" *ngIf="!(config.autoHide && p.pages.length <= 1)">
                                    <li><a (click)="p.setCurrent(1)"> Primeira </a></li>
                                    <li *ngIf="!p.isFirstPage()"><a (click)="p.previous()"> Anterior </a></li>
                                    <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                            <span>{{ page.label }}</span>
                                        </a>
                                        <a *ngIf="p.getCurrent() === page.value">
                                            <span>{{ page.label }}</span>
                                        </a>
                                    </li>
                                    <li *ngIf="!p.isLastPage()"><a (click)="p.next()"> Próxima </a>
                                    </li>
                                    <li><a (click)="p.setCurrent(p.getLastPage())"> Última </a></li>
                                    <li class="active" *ngIf="configDataTable?.configuracaoPaginacao.showTotal"><a>{{calcularCurrentAndTotal(p.maxSize, p.getCurrent())}}</a></li>
                                </ul>
                            </pagination-template>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</ng-template>

<ng-template #emptyFrame>
    <div class="animated fadeIn col-sm-12 col-md-12 col-lg-12" *ngIf="configDataTable?.frame else emptyResult">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{configDataTable.title}}</h5>
            </div>
            <div class="ibox-content table-responsive animated fadeIn">
                <ng-template [ngTemplateOutlet]="emptyResult"></ng-template>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #emptyResult>
    <div *ngIf="configDataTable?.customEmptyResultTemplate else customEmptyResult">
        <ng-template [ngTemplateOutlet]="configDataTable.customEmptyResultTemplate"></ng-template>
    </div>
    <ng-template #customEmptyResult>
        <div *ngIf="configDataTable?.customEmptyResult else defaultEmpty" [ngClass]="configDataTable?.customEmptyResult?.class">
            <ul>
                <li>{{configDataTable?.customEmptyResult?.message}}</li>
            </ul>
        </div>
    </ng-template>
</ng-template>
<ng-template #defaultEmpty>
    <div class="alert alert-success">
        <ul>
            <li>
                Nenhum registro encontrado.
            </li>
        </ul>
    </div>
</ng-template>
<ng-template #templateColunaLinkspanInside let-dat="dat" let-col="col">
    <a (click)="handleClickEvent(col.atributo, dat)">
        <span [class]="dat.customConfig?.get(col.atributo)?.spanClass" [title]="dat.customConfig?.get(col.atributo)?.spanTitle"><i [class]="dat.customConfig?.get(col.atributo)?.faClass"></i>
                {{ col.customConfig.stringLimit ? (dat[col.atributo] | stringLimit: col.customConfig.stringLimit) : dat[col.atributo] }}
            </span>
    </a>
</ng-template>
<ng-template #templateColunaLinkspan let-dat="dat" let-col="col">
    <a (click)="handleClickEvent(col.atributo, dat)">
        <span [class]="dat.customConfig?.get(col.atributo)?.spanClass" [title]="dat.customConfig?.get(col.atributo)?.spanTitle"><i [class]="dat.customConfig?.get(col.atributo)?.faClass"></i></span> {{ col.customConfig.stringLimit ? (dat[col.atributo]
        | stringLimit: col.customConfig.stringLimit) : dat[col.atributo] }}
    </a>
</ng-template>
<ng-template #templateColunaLink let-dat="dat" let-col="col">
    <a (click)="handleClickEvent(col.atributo, dat)">
        {{ col.customConfig.stringLimit ? (dat[col.atributo] | stringLimit: col.customConfig.stringLimit) : dat[col.atributo] }}
    </a>
</ng-template>
<ng-template #templateColunaSpan let-dat="dat" let-col="col">
    <span [class]="dat.customConfig?.get(col.atributo)?.spanClass" [title]="dat.customConfig?.get(col.atributo)?.spanTitle"><i [class]="dat.customConfig?.get(col.atributo)?.faClass"></i></span> {{ col.customConfig.stringLimit ? (dat[col.atributo] | stringLimit:
    col.customConfig.stringLimit) : dat[col.atributo] }}
</ng-template>
<ng-template #templateColunaImage let-dat="dat" let-col="col">
    <div *ngIf="dat.customConfig?.get(col.atributo)?.srcImage">
        <img [src]="dat.customConfig?.get(col.atributo)?.srcImage" [title]="dat.customConfig?.get(col.atributo)?.titleImage">
    </div>
</ng-template>
<ng-template #templateColunaMultiple let-dat="dat" let-col="col">
    <ng-container *ngFor="let itemNaLinha of dat[col.atributo]">
        <div class="row" *ngFor="let configuracaoMultiple of col.customConfig.multiple">
            <div [class]="dataTableColumn.customConfig.tdClass" *ngFor="let dataTableColumn of configuracaoMultiple">
                <strong>{{dataTableColumn.apelido}} &ensp;</strong>
                <ng-template [ngTemplateOutlet]="colTemplate(itemNaLinha, dataTableColumn)" [ngTemplateOutletContext]="colTemplateContext(itemNaLinha, dataTableColumn)"></ng-template>
            </div>
        </div>
    </ng-container>
</ng-template>
<ng-template #templateHtmlSpan let-dat="dat" let-col="col">
    <span [class]="dat.customConfig?.get(col.atributo)?.spanClass" [title]="dat.customConfig?.get(col.atributo)?.spanTitle"
            [innerHTML]="dat[col.atributo]"></span>
</ng-template>
<ng-template #templateColunaDefault let-dat="dat" let-col="col">
    {{ col.customConfig.stringLimit ? (dat[col.atributo] | stringLimit: col.customConfig.stringLimit) : dat[col.atributo] }}
</ng-template>