<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img src="assets/images/login/connect.png" alt="ConnectCont" style="width: 100%;"/>
        </div>
        <app-alert></app-alert>
        <h2><span style="color: #3e6b96; text-shadow: 0 1px #fff">Alterar</span> <span style="color: #F36F21; text-shadow: 0 1px #fff">Senha</span></h2>
        <div class="ibox float-e-margins">
            <!-- <div class="ibox-title">
                Alterar Senha
            </div> -->
            <form #myForm="ngForm" class="m-t text-left clearfix" role="form" action="#">
                <div class="ibox-content">
                    <div class="ms10">
                        <div class="form-group has-feedback"
                                [class.has-error]="     validationService.hasError    (validations, {components:'senhaAtual'})"
                                >
                            <label>Senha Atual</label>
                            <input type="password" class="form-control" placeholder="Senha Atual"
                                    required="" [(ngModel)]="loginData.senhaAtual" minlength="8"
                                    name="senhaAtual">
                        </div>
                        <div class="form-group has-feedback"
                                [class.has-error]="     validationService.hasError      (validations, {components:['senhaNova','confirmacao']})"
                                >
                            <label>Nova Senha</label>
                            <input #senhaNova type="password" class="form-control" placeholder="Nova Senha"
                                    required="" [(ngModel)]="loginData.senhaNova" minlength="8"
                                    name="senhaNova" id="senhaNova">
                            <div style="margin-top: 20px;" *ngIf="senhaNova.value">
                                Força da Senha
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                            [style.width]="complexity + '%'"
                                            [class.progress-bar-danger]="complexity < 25"
                                            [class.progress-bar-warning]="complexity >= 25 && complexity < 40"
                                            [class.progress-bar-navy-light]="complexity >= 40"
                                            [attr.aria-valuenow]="complexity" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback"
                                [class.has-error]="     validationService.hasError      (validations, {components:['senhaConfirmar','confirmacao']})"
                                >
                            <label>Confirmar Senha</label>
                            <input type="password" class="form-control" placeholder="Confirmar Senha"
                                    required="" [(ngModel)]="loginData.senhaConfirmar" minlength="8"
                                    compare-to="loginData.senhaNova" compareTo-err-type="confirmaSenha"
                                    name="senhaConfirmar">
                        </div>
                    </div>
                </div>
                <div class="ibox-footer footer-buttons">
                    <button type="submit" class="btn btn-primary  m-b" (click)="alterarSenha()"
                        [disabled]="!validationService.isValid(this.validations, {condicoes: 'required'})" >
                        <i class="glyphicon glyphicon-refresh"></i> Alterar Senha  </button>
                    <button type="submit" class="btn btn-danger   m-b" (click)="voltar()"       >
                        <i class="fa fa-times"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
