<contador-online-title titulo="Listagem de notas" [esconderBotao]="true"></contador-online-title>
<div class="row wrapper wrapper-content animated fadeInRight">
    <!-- <div class="col-lg-12 col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Filtro</h5>
                <app-iboxtools [collapseAll]="true"></app-iboxtools>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Empresas</label>
                        <app-auto-complete-empresas [config]="empresaAutoCompleteConfig" (itemSelectedEvent)="onItemSelectCmbEmpresa($event)"></app-auto-complete-empresas>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Origem</label>
                        <select class="form-control" [(ngModel)]="filtro.origem" (change)="onChangeCmbOrigem()">
                            <option *ngFor="let origem of origens" [ngValue]="origem">{{origem.descricao}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Tipo de Obrigação:</label>
                        <select class="form-control" [(ngModel)]="filtro.tipoObrigacao" [disabled]="filtro.origem.desativarComboTipoObrigacao">
                            <option *ngFor="let tipoObrigacao of tiposObrigacao" [ngValue]="tipoObrigacao">{{tipoObrigacao.descricao}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Excluído De</label>
                        <input type="text" class="form-control" [(appData)]="filtro.excluidoDe" format="datetimeInicio" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Até</label>
                        <input type="text" class="form-control"  [(appData)]="filtro.excluidoAte" format="datetimeFim"/>
                    </div>
                    <div class="form-group col-lg-8">
                        <label>Descrição</label>
                        <input type="text" class="form-control" [(ngModel)]="filtro.descricao"/>
                    </div>
                    <div class="col-lg-12 col-md-12 text-right" style="padding-top:25px">
                        <button class="btn btn-sm btn-primary" title="Filtrar" (click)="btnFiltrar()"><i class="fa fa-search"></i> Filtrar</button>
                        <button class="btn btn-sm btn-primary" title="Limpar" (click)="btnLimpar()"><i class="fa fa-trash"></i> Limpar</button>
                    </div>
                </div>
            </div>
        </div>
        <app-alert [configs]="alertas"></app-alert> -->
    <!-- </div> -->
    <!-- <app-data-table [configDataTable]="config" [collapseOption]="false" 
        (pageChangeEvent)="onPageChangeEvent($event)"
        (paginacaoEvent)="onPaginacaoEvent($event)"
        (selecionadosEvent)="onGroupButtonsEvent($event)"
        (selecionadosItensEvent)="onSelecionadosItensEvent($event)"
        (reportDataEvent)="onReportDataEvent()">
    </app-data-table> -->

    <!-- <google-chart [data]="pieChart"></google-chart> -->

    <div class="col-lg-12 col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Notas</h5>
            </div>
            <div class="ibox-content">
                <google-chart #chart [data]="tableChart"></google-chart>
            </div>
        </div>
    </div>


</div>