<div class="container-fluid alert alert-warn search-options clearfix" style="margin-bottom: 20%; padding-top: 10%; width: 90%; margin-left: 50px;">

	<div class="span2 col-md-3 col-sm-4 col-xs-12">
		<img *ngIf="block_img" src="{{ block_img }}" style="width: 128px;">
	</div>
	<div class="span10 col-md-9 col-sm-8 col-xs-12">
		<h2>Acesso Negado</h2>
        <div class="" *ngIf="service.mensagens">
            <ul>
				<li *ngFor="let mensagem of service.mensagens">
					<span style="font-size: 18px;">{{ mensagem.resolved }}</span>
				</li>
            </ul>
        </div>

	</div>
</div>