<contador-online-title titulo="Correções dos Testes de Progresso" [esconderBotao]="true"></contador-online-title>
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Filtro</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-6">
            <label for="ano">Ano</label>
            <select #selectElem class="form-control" [(ngModel)]="anoSelecionado" (change)="mudarAno(selectElem.value)">
              <option *ngFor="let ano of anos"  [value]="ano"[selected]="ano=='2019'">{{ano}}</option>
            </select>
          </div>
          <div class="col-md-6 ">
            <label for="ano ">Semestre</label>
            <select #selectSem class="form-control" (change)="mudarSemestre(selectSem.value)">
              <option id="ano " *ngFor="let semestre of semestres " [value]="semestre">{{semestre}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 ">
    <figure>
      <iframe [src]="videoUrl" style="height: -webkit-fill-available " height="-webkit-fill-available "
        width="100% " frameborder="0 " allowfullscreen></iframe>
    </figure>
  </div>
</div>