.spinner .sk-spinner {
    position: fixed !important;
    // margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6rem;
    width: 6rem;
}

.spinner,
.spinner:after {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: fixed !important;
    background-color: transparent;
    z-index: 2000;
}

.pace {
    display: none;
}

.socialItens .ibox {
    min-height: 50px;
}

.addItem {
    height: 50px;
    position: relative;
    vertical-align: middle;
    margin: auto;
}

.addItem>div {
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 20px;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}

.addItem>div a {
    color: gray;
}

.completer-matcher {
    color: #1f8dd6;
}

.completer-selected-row {
    background-color: #f0f0f0 !important;
    color: black !important;
}

.completer-dropdown {
    width: 93% !important;
    max-height: 200px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.badge-success-custom {
    color: #fff;
    background-color: #1ab394 !important;
}

.btn-danger-border {
    border-color: #761c19;
}

.block-ui-wrapper {
    background-color: #000 !important;
    opacity: 0.1;
    cursor: not-allowed !important;
    z-index: 10000 !important;
}

// multi-select combo - start
.divMultiselect {
    overflow: auto;
}

.fill.ms-parent {
    width: -webkit-stretch !important;
    width: -webkit-fill-available !important;
}

.ms-choice {
    height: 30px;
    border: none !important;
    width: -webkit-stretch;
    width: -webkit-fill-available;
    margin: -5px -12px;
}

.ms-drop {
    margin: 3px -12px
}

.ms-drop ul>li:hover {
    background-color: #002e5c;
    color: white;
}

.ms-drop ul>li:active {
    background-color: #002e5c;
    color: white;
}

// multi-select combo - end
input[type=number],
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #f0f0f0;
}

.youtube-icon {
    font-size: x-large;
}

// Correção do IboxTools para dispositivos mobile (deixa o painel abrindo para a direita)
@media(max-width: 350px) {
    .ibox .ibox-tools.open>.dropdown-menu {
        left: 0;
        right: 0;
    }
}


.btn-primary{
    background-color: #00ad8d;
    border-color: #00ad8d;
    color: #ffffff
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active { 
    background-color: #18a689;
    border-color: #18a689;
    color: #ffffff
}