<contador-online-title titulo="Administrativo" [esconderBotao]="true"></contador-online-title>
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="col-lg-12">
    <app-alert></app-alert>
    <div class="ibox">
      <div class="ibox-title">
        <h5>Upload das Notas Teste de Progresso</h5>
      </div>
      <div class="ibox-content">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <span class="btn btn-default btn-file">
            <span class="fileinput-new">Selecione o CSV com as Notas dos Alunos</span>
            <span class="fileinput-exists" (change)="teste($even)">Mudar</span><input (change)="teste($event)"
              type="file" name="..." /></span>
          <span class="fileinput-filename"></span>
          <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
        </div>
        <button class="btn btn-success " type="button" [disabled]="disableUpload" (click)="uploadTp()">
          <i class="fa fa-upload"></i>&nbsp;&nbsp;
          <span class="bold">Uploada Csv</span>
        </button>
      </div>
    </div>

    <div class="ibox">
      <div class="ibox-title">
        <h5>Upload da Prova e do Gabarito</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-2">
            <div class="fileinput fileinput-new" data-provides="fileinput" style="padding-top: 22px;">
              <span class="btn btn-default btn-file">
                <span class="fileinput-new">Selecione o Gabarito</span>
                <span class="fileinput-exists" (change)="teste($even)">Mudar</span><input (change)="teste($event)"
                  type="file" name="..." /></span>
              <span class="fileinput-filename"></span>
              <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="fileinput fileinput-new" data-provides="fileinput" style="padding-top: 22px;">
              <span class="btn btn-default btn-file">
                <span class="fileinput-new">Selecione a Prova</span>
                <span class="fileinput-exists" (change)="teste($even)">Mudar</span><input (change)="teste($event)"
                  type="file" name="..." /></span>
              <span class="fileinput-filename"></span>
              <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
            </div>
          </div>
          <div class="col-md-2">
            <label for="ano ">Tipo Prova</label>
            <select #selectProv class="form-control" (change)="mudarProva(selectProv.value)">
              <option *ngFor="let prova of tipoProvas " [value]="prova">{{prova}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="ano">Ano</label>
            <select #selectElem class="form-control" [(ngModel)]="anoGabProvaSelecionado"
              (change)="mudarAnoCorrecao(selectElem.value)">
              <option *ngFor="let ano of anos" [value]="ano" [selected]="ano == 2019">{{ano}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="ano ">Semestre</label>
            <select #selectSem class="form-control" (change)="mudarSemestre(selectSem.value)">
              <option *ngFor="let semestre of semestres " [value]="semestre">{{semestre}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success pull-right" type="button" [disabled]="disableGab" (click)="downloadProva()">
              <i class="fa fa-upload"></i>&nbsp;&nbsp;
              <span class="bold">Upload Arquivos</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="ibox">
      <div class="ibox-title">
        <h5>Link para correção da prova</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-4">
            <label for="ano ">Link da Correção</label>
            <input type="text" placeholder="link da correção" class="form-control">
          </div>
          <div class="col-md-4">
            <label for="ano">Ano</label>
            <select #selectElem class="form-control" [(ngModel)]="anoCorrecaoSelecionado"
              (change)="mudarAnoCorrecao(selectElem.value)">
              <option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="ano ">Semestre</label>
            <select #selectSem class="form-control" (change)="mudarSemestre(selectSem.value)">
              <option *ngFor="let semestre of semestres " [value]="semestre">{{semestre}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success pull-right" type="button" [disabled]="disableCorrecao"
              (click)="downloadProva()">
              <i class="fa fa-upload"></i>&nbsp;&nbsp;
              <span class="bold">Upload Link</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- <div class="theme-config">
  <div class="theme-config-box show">
    <div class="spin-icon">
      <i class="fa fa-cogs fa-spin"></i>
    </div>
    <div class="skin-settings">
      <div class="title">Configuration <br>
        <small style="text-transform: none;font-weight: 400">
          Config box designed for demo purpose. All options available via code.
        </small></div>
      <div class="setings-item">
        <span>
          Collapse menu
        </span>

        <div class="switch">
          <div class="onoffswitch">
            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
            <label class="onoffswitch-label" for="collapsemenu">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="setings-item">
        <span>
          Fixed sidebar
        </span>

        <div class="switch">
          <div class="onoffswitch">
            <input type="checkbox" name="fixedsidebar" class="onoffswitch-checkbox" id="fixedsidebar">
            <label class="onoffswitch-label" for="fixedsidebar">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="setings-item">
        <span>
          Top navbar
        </span>

        <div class="switch">
          <div class="onoffswitch">
            <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
            <label class="onoffswitch-label" for="fixednavbar">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="setings-item">
        <span>
          Top navbar v.2
          <br>
          <small>*Primary layout</small>
        </span>

        <div class="switch">
          <div class="onoffswitch">
            <input type="checkbox" name="fixednavbar2" class="onoffswitch-checkbox" id="fixednavbar2">
            <label class="onoffswitch-label" for="fixednavbar2">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="setings-item">
        <span>
          Boxed layout
        </span>

        <div class="switch">
          <div class="onoffswitch">
            <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
            <label class="onoffswitch-label" for="boxedlayout">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="setings-item">
        <span>
          Fixed footer
        </span>

        <div class="switch">
          <div class="onoffswitch">
            <input type="checkbox" name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter">
            <label class="onoffswitch-label" for="fixedfooter">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="title">Skins</div>
      <div class="setings-item default-skin">
        <span class="skin-name ">
          <a href="#" class="s-skin-0">
            Default
          </a>
        </span>
      </div>
      <div class="setings-item blue-skin">
        <span class="skin-name ">
          <a href="#" class="s-skin-1">
            Blue light
          </a>
        </span>
      </div>
      <div class="setings-item yellow-skin">
        <span class="skin-name ">
          <a href="#" class="s-skin-3">
            Yellow/Purple
          </a>
        </span>
      </div>
      <div class="setings-item ultra-skin">
        <span class="skin-name ">
          <a href="HTML5_Full_Version_MD/index.html" class="md-skin">
            Material Design
          </a>
        </span>
      </div> -->