<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <img src="assets/images/login/logoLogin.png" alt="ConnectCont" style="width: 100%;" />
    </div>
    <app-alert></app-alert>
    <div class="ibox float-e-margins">
      <form class="m-t" role="form" action="#">
        <div class="ibox-content text-left clearfix">
          <div class="form-group">
            <div class="input-group m-b">
              <span id="user-span" class="add-on input-group-addon" style="background-color: #eee"><i
                  class="fa fa-user"></i></span>
              <input type="email" class="form-control" placeholder="RA" required=""
                [(ngModel)]="service.loginData.username" name="username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group m-b">
              <span id="user-span" class="add-on input-group-addon" style="background-color: #eee"><i
                  class="fa fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="senha" required=""
                [(ngModel)]="service.loginData.password" name="password">
            </div>
          </div>
          <div class="footer-buttons">
              <button type="submit" class="btn btn-primary block full-width m-b dim" (click)="login()">Conectar</button>
          </div>
        </div>
        <!-- <div class="ibox-footer footer-buttons">
          <button type="submit" class="btn btn-primary block full-width m-b dim" (click)="login()">Conectar</button>

          <a [routerLink]="['/esquecisenha']"><small>Não consegue acessar a conta?</small></a>
        </div> -->
      </form>
    </div>
    <p class="m-t"> <small>Versão : {{version()}}</small> </p>
  </div>
</div>
