.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
    margin-right: -1px;
}

.input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 9px 12px 4px 12px;
    text-align: center;
}
