<ng-content></ng-content>
<div class="icons-slider-wrapper">
    <div class="icons-slider">
        <div class="slider-itens">
            <div class="slider-item" *ngFor="let item of itens">
                <div class="slider-item-show" *ngIf="item.show">
                    <ng-template
                        [ngTemplateOutlet]="item.template || defaultItem"
                        [ngTemplateOutletContext]="item.context"></ng-template>
                        <!-- { rowActionEmitter: rowActionEmitter } -->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #defaultItem let-customHeader="customHeader" let-customBody="customBody">
    <ng-template
        [ngTemplateOutlet]="customHeader.template || defaultHeader"
        [ngTemplateOutletContext]="customHeader.context"></ng-template>
    <ng-template
        [ngTemplateOutlet]="customBody.template || defaultBody"
        [ngTemplateOutletContext]="customBody.context"></ng-template>
</ng-template>
<ng-template #defaultHeader let-itemTag="itemTag" let-iconClasses="iconClasses" let-iconClassesTag="iconClassesTag">
    <div class="slider-item-header">
        <div (click)="toggle(itemTag)" [ngClass]="iconClassesTag">
            <i [ngClass]="iconClasses"></i>
        </div>
    </div>
</ng-template>
<ng-template #defaultBody let-conteudo="conteudo">
    <div class="slider-item-body">
        <div class="alert alert-info">
            <ng-template
                [ngTemplateOutlet]="conteudo.template"
                [ngTemplateOutletContext]="conteudo.context"
                ></ng-template>
        </div>
    </div>
</ng-template>
<ng-template #dica let-dicas="dicas">
    <strong>Dica</strong><br />
    <ng-template
        [ngTemplateOutlet]="dicas.template"
        [ngTemplateOutletContext]="dicas.context"
        ></ng-template>
</ng-template>
<ng-template #dicas>
    <ul>
        <li *ngFor="let dica of listaDicas">{{dica}}</li>
    </ul>
</ng-template>