.icons-slider-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.icons-slider {
	position: absolute;
	// top: 185px;
	right: -270px;
	width: 260px;
	overflow: unset;
}

.slider-itens {
	position: relative;
}

.slider-item {
	transition-duration: 0.8s;
	position: relative;
	width: 260px;
	background: unset;
	right: 50px;
}

.slider-item.active {
	z-index: 2000;
}

.slider-item.show {
	right: 270px;
}

.slider-item-header {
	position: absolute;
}

.slider-item-header .spin-icon {
	position: absolute;
	padding: 7px 10px 7px 13px;
	border-radius: 20px 0 0 20px;
	font-size: 16px;
	left: 0;
	width: 40px;
	color: #fff;
	cursor: pointer;
}

.slider-item-body {
	margin-left: 40px;
	width: 220px;
	position: absolute;
}

.spin-icon.dica {
	background: #1ab394;
}