<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <!-- <img alt="image" class="rounded-circle" src="assets/images/a3.jpg"> -->
          <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">David Williams</span>
          </a> -->
          <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
            <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
            <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="login.html">Logout</a></li>
          </ul> -->
          <div class="profile-element" dropdown="">
            <img alt="Contador Online" src="assets/images/icon03.jpg" style="margin-top: -20px">
            <a>
            </a>
          </div>
        </div>
        <div class="logo-element">
          UAM
        </div>
      </li>

      <app-contador-online></app-contador-online>
      <!-- <li [ngClass]="{active: activeRoute('starter')}">
                <a [routerLink]="['/starterview']"><i class="fa fa-th-large"></i> <span class="nav-label">Starter view</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('dashboards')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard examples</span> <span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
                    <li [ngClass]="{active: activeRoute('dashboard1')}"><a [routerLink]="['/dashboards/dashboard1']">Dashboard v.1</a></li>
                    <li [ngClass]="{active: activeRoute('dashboard2')}"><a [routerLink]="['/dashboards/dashboard2']">Dashboard v.2</a></li>
                    <li [ngClass]="{active: activeRoute('dashboard3')}"><a [routerLink]="['/dashboards/dashboard3']">Dashboard v.3</a></li>
                    <li [ngClass]="{active: activeRoute('dashboard4')}"><a [routerLink]="['/dashboards/dashboard4']">Dashboard v.4</a></li>
                    <li [ngClass]="{active: activeRoute('dashboard5')}"><a [routerLink]="['/dashboards/dashboard5']">Dashboard v.5</a></li>
                </ul>
            </li> -->
    </ul>

  </div>
</nav>