<div class="ibox-tools {{id}}">
  <a class="collapse-link" *ngIf="_config.hasCollapse()">
    <i class="fa fa-search"></i>
  </a>
  <ng-container *ngIf="_config.hasDropdown()">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-wrench"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li *ngFor="let dropdownMenuItem of _config.dropdownMenu">
          <a (click)="dropdownMenuItem.acao()">{{dropdownMenuItem.titulo}}</a>
      </li>
    </ul>
  </ng-container>
  <a class="close-link" (click)="close($event)" *ngIf="_config.isClosable()">
    <i class="fa fa-times"></i>
  </a>
  <ng-content></ng-content>
</div>
