<div class="footer">
    <!-- <div class="pull-right">
    10GB of <strong>250GB</strong> Free.
  </div> -->
    <div>
        <strong>Copyright &copy;</strong> Victor e Léo 2016-2019
    </div>
</div>