<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <!-- <li class="dropdown"> -->
            <!-- <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <span class="text-xs block">Bem Vindo {{usuarioLogado}} <b class="caret"></b></span>
                </a> -->
            <!-- <ul class="dropdown-menu animated fadeInRight">
                    <li><a [routerLink]="['/siteAlterarsenha']">Alterar Senha</a></li>
                </ul> -->
            <!-- </li> -->
            <li>
                <p style="color: #ffffff">Bem Vindo {{usuarioLogado}}</p>
            </li>
            <li>
                <a [routerLink]="['/login']" (click)="logout()">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</div>