/* You can add global styles to this file, and also import other style files */

@import "assets/styles/style";
// @import '~dropzone/dist/min/dropzone.min.css';

textarea {
    resize: vertical;
}

.footer-buttons {
    text-align: right;
}

button.green {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

button.green:hover, button.green:focus {
    color: #FFFFFF;
}

.pb25 {
    padding-bottom: 25px;
}

