<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <li [ngClass]="{active: activeRoute('home')}">
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Menu</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li [ngClass]="{active: activeRoute('/home/usuarios')}" [routerLink]="['/home/usuarios']" *ngIf="hiddenAdministrativo"><a>Listagem de Notas </a></li>
                <li [ngClass]="{active: activeRoute('/home/autorizados')}" [routerLink]="['/home/autorizados']" *ngIf="hiddenAdministrativo"><a>Gabarito</a></li>
                <li [ngClass]="{active: activeRoute('/home/correcoes')}" [routerLink]="['/home/correcoes']" *ngIf="hiddenAdministrativo"><a>Correção</a></li>
                <li [ngClass]="{active: activeRoute('/home/administracoes')}" [routerLink]="['/home/administracoes']" *ngIf="hiddenAdministrativo"><a>Administracoes</a></li>
                
            </ul>
        </li>
    </ul>
</div>