<!-- View/routes wrapper-->
<div class="frameTop">
    <div id="wrapper">
        <div class="internal-wrapper pb25">
            <router-outlet></router-outlet>

            <icons-slider #slider1 id='slider1'></icons-slider>
        </div>
    </div>
</div>
<div id="ratioDiv" #ratioDiv>&nbsp;</div>
    